@import "tailwindcss";

* {
  user-select: none;
  scroll-behavior: smooth;
  scroll-margin-top: 80px;
}

*::-webkit-scrollbar {
  display: none;
}

.hero-bg {
  position: absolute;
  width: 2154px;
  height: 1363px;
  left: -264px;
  top: -130px;
  background: radial-gradient(54.67% 54.67% at 53.57% 65.77%, #FFFFFF 2.78%, #9C84F9 23.15%, #1B103A 77.84%, #06060A 100%)
}

.features-head {
  border-bottom-right-radius: 15px;
}

.features-bg {
  background-color: #30304E;
}

@media screen and (max-width: 1024) {
  .features-head {
    border-bottom-left-radius: 15px;
  }
}

.text-vertical {
  text-transform: uppercase;
  transform: rotate(270deg);
}

.sidebar-bg {

  position: absolute;
  width: 364px;
  height: 920px;
  left: 0px;
  top: 0px;
  z-index: -1;
  background: radial-gradient(96.43% 85.21% at 0% 85.89%, #FFB7E6 0%, #C9D1F8 48.97%, #FAFAFA 100%);
  opacity: 0.7;
}

.topbar-bg {
  position: absolute;
  width: 100px;
  height: 1576px;
  background: radial-gradient(85.57% 78.27% at 0% 78.95%, #FDCDEC 0%, #C9D1F8 40.71%, #FAFAFA 100%);
  opacity: 0.7;
  z-index: -1;
  transform: matrix(0, 1, 1, 0, 0, 0);
  right: 500px;
}

.tab-shadow {
  box-shadow: 0px 0px 100px rgba(122, 122, 122, 0.50),
    inset 0px 0px 80px rgba(240, 240, 240, 0.45);
}