@import "tailwindcss";

* {
  user-select: none;
  scroll-behavior: smooth;
  scroll-margin-top: 80px;
}

*::-webkit-scrollbar {
  display: none;
}

.hero-bg {
  position: absolute;
  width: 2154px;
  height: 1363px;
  left: -264px;
  top: -130px;
  background: radial-gradient(54.67% 54.67% at 53.57% 65.77%, #FFFFFF 2.78%, #9C84F9 23.15%, #1B103A 77.84%, #06060A 100%)
}

.features-head {
  border-bottom-right-radius: 15px;
}

.features-bg {
  background-color: #30304E;
}

@media screen and (max-width: 1024) {
  .features-head {
    border-bottom-left-radius: 15px;
  }
}